<div class="ui-radios">
  <fieldset>
    @if (label) {
    <legend class="label">{{ label }}</legend>
    }
    <div class="radio-list">
      @for (option of options; track option.value) {
      <label
        class="radio-item"
        [class.disabled]="disabled || option.disabled"
        [attr.title]="option.label"
      >
        <input
          type="radio"
          [checked]="isChecked(option)"
          [disabled]="disabled || option.disabled"
          (change)="select(option)"
          [attr.name]="radioName"
          [attr.id]="radioOptionId(option.value)"
        />
        <span class="radiomark"></span>
        <span class="option-label">{{ option.label }}</span>
      </label>
      }
    </div>
    @if (error) {
    <div class="error">{{ error }}</div>
    }
  </fieldset>
</div>
