<div class="page-animate" [class.page-ready]="datosListos">
  <ui-card [title]="title" [subtitle]="subtitle">
    <div
      class="spread"
      style="margin-bottom: 1rem; align-items: center; display: flex; gap: 0.5rem"
    >
      <ui-spinner *ngIf="loading" label="Cargando"></ui-spinner>
      <div *ngIf="!loading && error" class="muted">{{ error }}</div>
      <ng-container *ngIf="!loading">
        <div style="margin-left: auto">
          <a class="btn primary" href="/permisos/crear">
            <span style="display: inline-flex; align-items: center; gap: 0.5rem">
              <svg
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  d="M12 5v14M5 12h14"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              Crear
            </span>
          </a>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!loading && datosListos">
      <ui-entity-table
        [title]="title"
        [subtitle]="subtitle"
        [total]="totalPermisos"
        (pageChange)="onPageChange($event)"
        [columns]="columns"
        [data]="data"
        [loading]="loading"
        [error]="error"
         [page]="currentPage"
        (edit)="onEdit($event)"
        (remove)="onRemove($event)"
      ></ui-entity-table>
    </div>
  </ui-card>
</div>
