<div class="page-animate" [class.page-ready]="datosListos">
  <ui-card [title]="title" [subtitle]="subtitle">
    <div
      class="spread"
      style="margin-bottom: 1rem; align-items: center; display: flex; gap: 0.5rem"
    >
      <ng-container *ngIf="loading">
        <ui-spinner label="Cargando"></ui-spinner>
      </ng-container>
      <ng-container *ngIf="!loading && error">
        <div class="muted">{{ error }}</div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div style="margin-left: auto">
          <ui-button
            variant="primary"
            (pressed)="onCreate()"
            icon="add"
            [iconOnly]="true"
            ariaLabel="Crear"
          ></ui-button>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="!loading && datosListos">
      <ui-entity-table
        [title]="title"
        [subtitle]="subtitle"
        [total]="data.length"
        [columns]="columns"
        [data]="data"
        [loading]="loading"
        [error]="error"
      ></ui-entity-table>
    </ng-container>
  </ui-card>
</div>
