<div class="card">
  <div class="card-pad">
    <ng-container *ngIf="title || subtitle">
      <div class="spread">
        <div>
          <ng-container *ngIf="title">
            <div class="card-title">{{ title }}</div>
          </ng-container>
          <!-- subtitle intentionally hidden in card header per request -->
        </div>
        <ng-content select="[card-header]"></ng-content>
        <ng-content select="[card-media]"></ng-content>
        <ng-content select="[actions]"></ng-content>
      </div>
    </ng-container>
    <div class="content">
      <ng-content></ng-content>
      <ng-content select="[card-actions]"></ng-content>
    </div>
  </div>
</div>
