<button
  class="button"
  [class.icon-only]="iconOnly"
  [class.button-primary]="variant === 'primary'"
  [class.button-secondary]="variant === 'secondary'"
  [class.button-outline]="variant === 'outline'"
  [class.button-danger]="variant === 'danger'"
  [class.button-success]="variant === 'success'"
  [class.button-warning]="variant === 'warning'"
  [disabled]="disabled"
  [attr.aria-label]="ariaLabel"
  [routerLink]="routerLink"
  [queryParams]="queryParams"
  [fragment]="fragment"
  (click)="$event.stopPropagation(); onClick()"
>
  <ng-container *ngIf="iconUrl; else iconTpl">
    <img class="icon-img" [src]="iconUrl" alt="" aria-hidden="true" />
  </ng-container>
  <ng-template #iconTpl>
    <ng-container *ngIf="icon">
      <span class="material-symbols-outlined" aria-hidden="true">{{ icon }}</span>
    </ng-container>
  </ng-template>
  <ng-content></ng-content>
  <span *ngIf="!iconOnly">{{ label }}</span>
</button>
