.ui-images-fallback {
  display: inline-block;
  background: var(--bg-images);
  color: var(--color-text-muted);
  font-size: 0.95em;
  padding: 0.5em 1em;
  border-radius: 4px;
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
