ui-card {
  display: block;
  margin: 2rem auto;
  max-width: 900px;
}

h2 {
  margin-bottom: 1rem;
}

ui-entity-table {
  margin-top: 1rem;
}

ui-modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ui-modal label {
  font-weight: 500;
}
